.rewises__item {
  width: 25%;
  height: 50vh;
  background: red;
  filter: grayscale(100%); }

.rewises__item:hover .person__info {
  display: block; }

.rewises__item-1 {
  background: url("../img/block-6-reviews/1.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-2 {
  background: url("../img/block-6-reviews/2.jpg") no-repeat bottom;
  background-size: cover; }

.rewises__item-3 {
  background: url("../img/block-6-reviews/3.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-4 {
  background: url("../img/block-6-reviews/4.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-5 {
  background: url("../img/block-6-reviews/6.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-6 {
  background: url("../img/block-6-reviews/7.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-7 {
  background: url("../img/block-6-reviews/8.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-8 {
  background: url("../img/block-6-reviews/9.jpg") no-repeat top;
  background-size: cover; }

.person__info {
  padding-top: 45px;
  padding-left: 20px;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }

h3.person__name,
p.person__faze {
  padding: 0px;
  margin: 0px; }

h3.person__name {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: gagalin-regular-webfont;
  line-height: 28px; }

p.person__faze {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: ubuntu-light-webfont;
  width: 240px; }

.button.person__button {
  margin-top: 20px;
  display: inline-block; }
