.footer__location{
    width: 330px;
    padding: 10px 0px;
    font-size: 14px;
    font-family: ubuntu-light-webfont;
}
p.footer_location__street,
p.footer_location__phone{
    padding: 0;
    margin: 0;
}
p.footer_location__street{
    margin-bottom: 10px;
}


p.footer_location__phone{
    color: #e45028;
    font-family: ubuntu-b-webfont;
    padding-left: 20px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
   
        left: 0;
        top: 2px;

        width: 13px;
        height: 13px;
        
        background: url(../img/icons/phone.svg)no-repeat;

    }
}