.footer-socail__list{
    display: flex;
    margin-top: 20px;
}
a.footer-socail__link{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 20px;
    background: url(../img/block-9-footer/inst.png)no-repeat;
    overflow: hidden;
    background-size: cover;
    &:first-child{
        margin-left: 0;
    }
}