<!DOCTYPE html>
html(lang="en")
    include ../includes/head
    body
        include ../includes/section-first-scrin
        include ../includes/we-make
        include ../includes/burger-slider
        include ../includes/team
        include ../includes/menu
        include ../includes/rewives
        include ../includes/form-block
        include ../includes/map
        include ../includes/footer
        
        