@charset "UTF-8";
@font-face {
  font-family: gagalin-regular-webfont;
  /* Имя шрифта */
  src: url(../fonts/Gagalin/Gagalin-Regular/gagalin-regular-webfont.otf), url(../fonts/Gagalin/Gagalin-Regular/gagalin-regular-webfont.eot); }

@font-face {
  font-family: ubuntu-b-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-B/ubuntu-b-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-light-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Light/ubuntu-light-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-medium-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Medium/ubuntu-medium-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-regular;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Regular/ubuntu-regular.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ifehack_medium;
  /* Имя шрифта */
  src: url(../fonts/lifehack_medium.otf), url(../fonts/lifehack_medium.eot); }
