@charset "UTF-8";
@font-face {
  font-family: gagalin-regular-webfont;
  /* Имя шрифта */
  src: url(../fonts/Gagalin/Gagalin-Regular/gagalin-regular-webfont.otf), url(../fonts/Gagalin/Gagalin-Regular/gagalin-regular-webfont.eot); }

@font-face {
  font-family: ubuntu-b-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-B/ubuntu-b-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-light-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Light/ubuntu-light-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-medium-webfont;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Medium/ubuntu-medium-webfont.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ubuntu-regular;
  /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Regular/ubuntu-regular.ttf), url(path-to/Scriptorama.eot); }

@font-face {
  font-family: ifehack_medium;
  /* Имя шрифта */
  src: url(../fonts/lifehack_medium.otf), url(../fonts/lifehack_medium.eot); }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
	 @mixin ========================================================================= */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Links
	 @mixin ========================================================================= */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 @mixin ========================================================================= */
abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 @mixin ========================================================================= */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 @mixin ========================================================================= */
figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 @mixin ========================================================================= */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button {
  text-transform: none; }

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Tables
	 @mixin ========================================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  color: white;
  font-size: 16px; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.center-content {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto; }

.button {
  font-size: 13px;
  background: #e45028;
  padding: 10px 15px;
  border-radius: 4px;
  transition: All 0.5s ease;
  text-decoration: none;
  color: white;
  font-family: ubuntu-medium-webfont;
  text-transform: uppercase; }

.button:hover {
  background: #c1401e; }

.s-section-first-scrin {
  height: 100vh;
  background: url("../img/block-1/pouring-block-1.png") 100% 100% no-repeat, url("../img/block-1/bg-block-1.png") bottom no-repeat;
  background-size: cover; }
  .s-section-first-scrin::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    cursor: pointer;
    background: url(../img/icons/arrow-scroll.svg) no-repeat; }

.s-we-make {
  height: 100vh;
  background: #b0bec5 url("../img/block-2-we/bg-block-2.png") no-repeat bottom center;
  background-size: cover; }

.s-burger-slider {
  height: 100vh;
  background: radial-gradient(ellipse at center center, #df710a, #f9b43b);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative; }
  .s-burger-slider a.prev {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -7px;
    left: 100px;
    width: 28px;
    height: 14px;
    background: url("../img/icons/arrow-scroll.svg") no-repeat;
    cursor: pointer;
    transform: rotate(90deg); }
  .s-burger-slider a.next {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 100px;
    width: 28px;
    height: 14px;
    background: url("../img/icons/arrow-scroll.svg") no-repeat;
    cursor: pointer;
    transform: rotate(-90deg); }

.s-team {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background: #b0bec5 url("../img/block-4-commands/bg-block-4.png") no-repeat top center;
  background-size: cover; }

.block-menu {
  color: black;
  display: flex;
  height: 100vh; }

.block-menu__name {
  background: url(../img/block-5-menu/bg-block-5.png) no-repeat 0px -60px; }

.s-rewives {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.block-form {
  display: flex;
  align-items: center;
  background: url("../img/block-7-form/bg-block-7.jpg") no-repeat top;
  height: 100vh; }

.s-block-form__wrap {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: ubuntu-light-webfont; }

.s-footer {
  background: url(../img/block-9-footer/bg-block-9-footer.png) repeat;
  min-height: 60px; }

.footer-container {
  display: flex;
  justify-content: space-between; }

#map {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0; }

.s-header {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%; }

a.logo {
  height: 75px;
  width: 98px;
  display: block;
  background: url(../img/block-1/logo.svg) no-repeat;
  margin-top: 12px; }

.button-menu-conteiner {
  display: flex;
  align-items: center; }

ul.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

li.menu__item {
  margin-left: 36px;
  position: relative; }
  li.menu__item::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    right: -22px;
    top: 50%;
    margin-top: -3px;
    border-radius: 50%;
    background: white; }
  li.menu__item:first-child {
    margin-left: 0; }
  li.menu__item:nth-child(6)::after {
    display: none; }

.head-buton {
  margin-top: 10px;
  padding: 0;
  margin: 0;
  margin-left: 15px; }

.menu-link_button {
  padding: 0;
  margin: 0;
  display: block;
  padding: 10px 15px; }

a.menu__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: ubuntu-medium-webfont;
  font-size: 13px;
  transition: all 0.5s; }

a.menu__link:hover {
  color: #c1401e; }

.we-make {
  display: flex;
  align-items: center;
  justify-content: center; }

.we-make__img-burger,
.we-make__text {
  width: 42%; }

.we-make__img-burger {
  margin-left: 20px;
  position: relative; }
  .we-make__img-burger::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -40px;
    width: 460px;
    height: 250px;
    background: url("../img/block-1/drops.png") no-repeat center; }

.we-make__text {
  margin-left: 20px;
  margin-top: 40px; }
  .we-make__text h2.we-make__title-we {
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-family: gagalin-regular-webfont;
    color: #f9b43b;
    line-height: 1.5; }
  .we-make__text span.we-make__title-natural {
    padding: 0;
    margin: 0;
    font-size: 65px;
    font-family: ifehack_medium;
    line-height: 1; }

h2.we-make__tatle {
  padding: 0;
  margin: 0;
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  text-align: center;
  color: #2f3234;
  padding-top: 120px;
  padding-bottom: 85px; }

.advantages__list {
  display: flex;
  color: black;
  justify-content: center; }

.advantages__item {
  width: 31%;
  text-align: center;
  color: #2f3234;
  margin-left: 20px;
  padding-top: 120px;
  position: relative; }
  .advantages__item::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    content: "";
    width: 70px;
    height: 85px;
    background: red; }
  .advantages__item.advantages__item-meat::after {
    height: 89px;
    width: 98px;
    margin-left: -49px;
    background: url("../img/icons/meat.svg") no-repeat center; }
  .advantages__item.advantages__item-manual-assembly::after {
    height: 85px;
    width: 70px;
    margin-left: -35px;
    background: url("../img/icons/hand.svg") no-repeat center; }
  .advantages__item.advantages__item-natural-products::after {
    height: 75px;
    width: 88px;
    background: url("../img/icons/natural.svg") no-repeat center; }
  .advantages__item:first-child {
    margin-left: 0px; }
  .advantages__item h3.advantages__title,
  .advantages__item p.advantages__text {
    padding: 0;
    margin: 0; }
  .advantages__item h3.advantages__title {
    font-size: 24px;
    font-family: ifehack_medium;
    line-height: 1.2; }
  .advantages__item p.advantages__text {
    font-size: 14px;
    font-family: ubuntu-light-webfont;
    margin-top: 15px;
    line-height: 24px; }

.burgers-slider-container {
  display: flex;
  justify-content: center;
  position: relative; }

.burgers-components {
  position: absolute;
  left: 0;
  top: -60px;
  width: 90px;
  height: 90px;
  background: rgba(227, 80, 40, 0.4) url("../img/icons/burger.svg") no-repeat center 15px;
  border-radius: 5px;
  cursor: pointer; }
  .burgers-components span.burgers-composition__text {
    display: block;
    margin-top: 65px;
    text-align: center; }

.burgers-calories {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 60px;
  height: 60px;
  background: url("../img/icons/kkal.svg") no-repeat center; }
  .burgers-calories span.burgers-calories__text {
    display: block;
    margin-top: 25px;
    margin-left: 2px;
    text-align: center;
    font-size: 20px;
    font-family: gagalin-regular-webfont; }
  .burgers-calories span.calories__text {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px; }

.content-block,
.burger-img {
  width: 48%; }

.burger-img {
  margin-top: 15px;
  margin-right: 20px; }

h2.content-block__title,
p.content-block__text,
span.content-block__price {
  padding: 0;
  margin: 0;
  color: white; }

h2.content-block__title {
  line-height: 64px;
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  margin-bottom: 45px; }

p.content-block__text {
  line-height: 24px;
  font-size: 14px;
  font-family: ubuntu-light-webfont;
  margin-bottom: 20px; }

span.content-block__price {
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  color: #e35028;
  position: relative;
  padding-right: 75px; }
  span.content-block__price::after {
    position: absolute;
    content: 'рублей';
    font-size: 30px;
    top: 50%;
    right: 0; }

.content-block__button {
  margin-left: 30px; }

.team {
  width: 50%;
  height: 100%;
  background: rgba(47, 50, 52, 0.9); }

.team__conteiner {
  padding-left: 80px; }

h2.team__title {
  padding: 0;
  margin: 0;
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  color: #f9b43b;
  margin-bottom: 90px;
  margin-top: 125px; }

ul.team__list {
  list-style: none;
  margin: 0;
  padding: 0; }

li.team__item {
  padding-left: 20px;
  position: relative;
  margin-bottom: 35px;
  cursor: pointer; }
  li.team__item::after {
    position: absolute;
    content: '▼';
    font-size: 11px;
    top: 50%;
    margin-top: -6px;
    left: 0;
    color: #f9b43b; }

span.team__text {
  font-size: 14px;
  text-transform: uppercase;
  font-family: gagalin-regular-webfont; }

.block-menu__name {
  width: 85%; }

h2.block-menu__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  color: white;
  font-family: gagalin-regular-webfont;
  margin-left: 10%;
  margin-top: 10%; }

ul.block-menu__list {
  width: 19.2vw;
  max-width: 120rem;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: green; }

li.block-menu__item {
  height: 100vh;
  display: flex;
  position: relative;
  width: 60px;
  padding: 0 10px;
  background-size: cover;
  cursor: pointer; }
  li.block-menu__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

.block-menu__item-meat {
  background: url(../img/block-5-menu/1-slide.jpg) no-repeat center; }

.block-menu__item-veg {
  background: url(../img/block-5-menu/2-slide.jpg) no-repeat -150px 0px; }

.block-menu__item-diet {
  background: url(../img/block-5-menu/3-slide.jpg) no-repeat -170px 10px; }

li.block-menu__item h3.block-menu__title {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50%;
  margin-bottom: -150px;
  left: 85%;
  letter-spacing: 1.5px;
  line-height: 64px;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
  width: 300px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: gagalin-regular-webfont; }

.meat__info {
  position: absolute;
  background: rgba(47, 50, 52, 0.9);
  height: 100%;
  width: 0rem;
  top: 0;
  z-index: 1;
  cursor: default;
  display: none; }

.block-menu__item-meat:hover .meat__info {
  display: block;
  width: 50rem;
  left: -45rem; }

.meat__info-wrap {
  display: flex;
  justify-content: flex-start; }

p.meat__faze {
  color: white;
  width: 640px;
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  padding-left: 35px; }

h3.meat__info-title {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 85%;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
  width: 300px;
  text-align: center;
  font-size: 40px;
  color: #f9b43b;
  font-family: gagalin-regular-webfont; }

.meat__info-title-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 60px;
  padding: 0 10px;
  background-size: cover;
  position: relative; }
  .meat__info-title-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

.rewises__item {
  width: 25%;
  height: 50vh;
  background: red;
  filter: grayscale(100%); }

.rewises__item:hover .person__info {
  display: block; }

.rewises__item-1 {
  background: url("../img/block-6-reviews/1.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-2 {
  background: url("../img/block-6-reviews/2.jpg") no-repeat bottom;
  background-size: cover; }

.rewises__item-3 {
  background: url("../img/block-6-reviews/3.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-4 {
  background: url("../img/block-6-reviews/4.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-5 {
  background: url("../img/block-6-reviews/6.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-6 {
  background: url("../img/block-6-reviews/7.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-7 {
  background: url("../img/block-6-reviews/8.jpg") no-repeat top;
  background-size: cover; }

.rewises__item-8 {
  background: url("../img/block-6-reviews/9.jpg") no-repeat top;
  background-size: cover; }

.person__info {
  padding-top: 45px;
  padding-left: 20px;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }

h3.person__name,
p.person__faze {
  padding: 0px;
  margin: 0px; }

h3.person__name {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: gagalin-regular-webfont;
  line-height: 28px; }

p.person__faze {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: ubuntu-light-webfont;
  width: 240px; }

.button.person__button {
  margin-top: 20px;
  display: inline-block; }

h2.order-delivery {
  text-align: center;
  margin-bottom: 80px;
  font-size: 72px;
  color: #f9b43b;
  font-family: gagalin-regular-webfont; }

.block-form__your-data {
  width: 28.75rem; }

.name-form {
  display: flex; }

.block-form__input {
  border-radius: 4px;
  border: 1px solid #d1cfcb;
  outline: 0;
  width: 13.75rem;
  height: 33px; }

.block-form__input:focus {
  outline: 2px solid #f9b43b; }

.name-form,
.street {
  margin-bottom: 18px; }

.block-form-your-data__label {
  display: block;
  margin-bottom: 5px; }

.block-form__phone-label,
.block-form__phone-input {
  margin-left: 20px; }

.housing,
.apartment,
.floor {
  margin-left: 20px; }

.name__label {
  margin-right: 20px; }

.block-form__street {
  width: 28.625rem; }

.group-home-housing-apartment-floor {
  display: flex; }

.home-housing-apartment-floor {
  width: 6.125rem; }

.block-form__comment-checkbox {
  width: 28.75rem;
  margin-left: 20px; }

.block-form-comment__texarea {
  width: 28.625rem;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 18px; }

.block-form-comment__texarea:focus {
  outline: 2px solid #f9b43b; }

.block-form-comment__radio {
  margin-bottom: 25px; }

.block-form-comment__checkbox {
  margin-bottom: 20px; }

.button-form,
.button-form__clear {
  border: 0; }

.button-form__clear {
  background: transparent;
  color: white; }

.block-form-comment__label-radio {
  padding-left: 25px; }
  .block-form-comment__label-radio:first-child {
    margin-left: 0px; }

.block-form-comment__radio input[type='radio'] {
  opacity: 0; }

.block-form-comment__radio label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white; }

.block-form-comment__radio label {
  position: relative; }

.block-form-comment__input-radio:checked + span.radio-indicator {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e45028; }

.block-form-comment__radio label::before {
  position: absolute; }

.block-form-comment__radio label::before {
  top: 0;
  left: 0px; }

.block-form-comment__checkbox input[type='checkbox'] {
  opacity: 0; }

.block-form-comment__checkbox label::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background: white; }

.block-form-comment__checkbox label {
  position: relative;
  margin-left: 25px; }

.block-form-comment__checkbox label::before {
  position: absolute;
  left: -25px; }

.block-form-comment__input-checkbox:checked + span.check-indicator {
  position: absolute;
  display: inline-block;
  left: -23px;
  top: 1px;
  height: 6px;
  width: 9px;
  border-left: 3px solid #e45028;
  border-bottom: 3px solid #e45028;
  transform: rotate(-45deg); }

.block-form-comment__checkbox label::before {
  top: 0px; }

.active {
  display: none;
  padding: 0;
  margin: 0; }

.footer__location {
  width: 330px;
  padding: 10px 0px;
  font-size: 14px;
  font-family: ubuntu-light-webfont; }

p.footer_location__street,
p.footer_location__phone {
  padding: 0;
  margin: 0; }

p.footer_location__street {
  margin-bottom: 10px; }

p.footer_location__phone {
  color: #e45028;
  font-family: ubuntu-b-webfont;
  padding-left: 20px;
  position: relative; }
  p.footer_location__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    background: url(../img/icons/phone.svg) no-repeat; }

.footer-socail__list {
  display: flex;
  margin-top: 20px; }

a.footer-socail__link {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 20px;
  background: url(../img/block-9-footer/inst.png) no-repeat;
  overflow: hidden;
  background-size: cover; }
  a.footer-socail__link:first-child {
    margin-left: 0; }
