.s-header {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%; }

a.logo {
  height: 75px;
  width: 98px;
  display: block;
  background: url(../img/block-1/logo.svg) no-repeat;
  margin-top: 12px; }

.button-menu-conteiner {
  display: flex;
  align-items: center; }

ul.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

li.menu__item {
  margin-left: 36px;
  position: relative; }
  li.menu__item::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    right: -22px;
    top: 50%;
    margin-top: -3px;
    border-radius: 50%;
    background: white; }
  li.menu__item:first-child {
    margin-left: 0; }
  li.menu__item:nth-child(6)::after {
    display: none; }

.head-buton {
  margin-top: 10px;
  padding: 0;
  margin: 0;
  margin-left: 15px; }

.menu-link_button {
  padding: 0;
  margin: 0;
  display: block;
  padding: 10px 15px; }

a.menu__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: ubuntu-medium-webfont;
  font-size: 13px;
  transition: all 0.5s; }

a.menu__link:hover {
  color: #c1401e; }
