.we-make {
  display: flex;
  align-items: center;
  justify-content: center; }

.we-make__img-burger,
.we-make__text {
  width: 42%; }

.we-make__img-burger {
  margin-left: 20px;
  position: relative; }
  .we-make__img-burger::before {
    content: "";
    position: absolute;
    top: 60px;
    left: -40px;
    width: 460px;
    height: 250px;
    background: url("../img/block-1/drops.png") no-repeat center; }

.we-make__text {
  margin-left: 20px;
  margin-top: 40px; }
  .we-make__text h2.we-make__title-we {
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-family: gagalin-regular-webfont;
    color: #f9b43b;
    line-height: 1.5; }
  .we-make__text span.we-make__title-natural {
    padding: 0;
    margin: 0;
    font-size: 65px;
    font-family: ifehack_medium;
    line-height: 1; }
