.meat__info {
  position: absolute;
  background: rgba(47, 50, 52, 0.9);
  height: 100%;
  width: 0rem;
  top: 0;
  z-index: 1;
  cursor: default;
  display: none; }

.block-menu__item-meat:hover .meat__info {
  display: block;
  width: 50rem;
  left: -45rem; }

.meat__info-wrap {
  display: flex;
  justify-content: flex-start; }

p.meat__faze {
  color: white;
  width: 640px;
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  padding-left: 35px; }

h3.meat__info-title {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 85%;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
  width: 300px;
  text-align: center;
  font-size: 40px;
  color: #f9b43b;
  font-family: gagalin-regular-webfont; }

.meat__info-title-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 60px;
  padding: 0 10px;
  background-size: cover;
  position: relative; }
  .meat__info-title-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }
