.block-menu__name {
  width: 85%; }

h2.block-menu__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  color: white;
  font-family: gagalin-regular-webfont;
  margin-left: 10%;
  margin-top: 10%; }

ul.block-menu__list {
  width: 19.2vw;
  max-width: 120rem;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: green; }

li.block-menu__item {
  height: 100vh;
  display: flex;
  position: relative;
  width: 60px;
  padding: 0 10px;
  background-size: cover;
  cursor: pointer; }
  li.block-menu__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

.block-menu__item-meat {
  background: url(../img/block-5-menu/1-slide.jpg) no-repeat center; }

.block-menu__item-veg {
  background: url(../img/block-5-menu/2-slide.jpg) no-repeat -150px 0px; }

.block-menu__item-diet {
  background: url(../img/block-5-menu/3-slide.jpg) no-repeat -170px 10px; }

li.block-menu__item h3.block-menu__title {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50%;
  margin-bottom: -150px;
  left: 85%;
  letter-spacing: 1.5px;
  line-height: 64px;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
  width: 300px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: gagalin-regular-webfont; }
