.team{
    width: 50%;
    height: 100%;
    background: rgba(47,50,52,0.9);
}
.team__conteiner{
    padding-left: 80px;
}
h2.team__title{
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-family: gagalin-regular-webfont;
    color: #f9b43b;
    margin-bottom: 90px;
    margin-top: 125px;
}
ul.team__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
li.team__item{
    padding-left: 20px;
    position: relative;
    margin-bottom: 35px;
    cursor: pointer;
    &::after{
        position: absolute;
        content: '▼';
        font-size: 11px;
        top: 50%;
        margin-top:-6px;
        left: 0;
        color: #f9b43b;

    }
}
span.team__text{
    font-size: 14px;
    text-transform: uppercase;
    font-family: gagalin-regular-webfont;
}