// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 68px;
$arrow-y: 25px;
$arrow-offset-x: -68px;
$arrow-offset-y: -25px;
$arrow-width: 6px;
$arrow-height: 10px;
$arrow-total-width: 75px;
$arrow-total-height: 68px;
$arrow-image: 'sprite.png';
$arrow: (68px, 25px, -68px, -25px, 6px, 10px, 75px, 68px, 'sprite.png', 'arrow', );
$comments-name: 'comments';
$comments-x: 18px;
$comments-y: 50px;
$comments-offset-x: -18px;
$comments-offset-y: -50px;
$comments-width: 13px;
$comments-height: 12px;
$comments-total-width: 75px;
$comments-total-height: 68px;
$comments-image: 'sprite.png';
$comments: (18px, 50px, -18px, -50px, 13px, 12px, 75px, 68px, 'sprite.png', 'comments', );
$facebook-top-icon-name: 'facebook-top-icon';
$facebook-top-icon-x: 0px;
$facebook-top-icon-y: 0px;
$facebook-top-icon-offset-x: 0px;
$facebook-top-icon-offset-y: 0px;
$facebook-top-icon-width: 25px;
$facebook-top-icon-height: 25px;
$facebook-top-icon-total-width: 75px;
$facebook-top-icon-total-height: 68px;
$facebook-top-icon-image: 'sprite.png';
$facebook-top-icon: (0px, 0px, 0px, 0px, 25px, 25px, 75px, 68px, 'sprite.png', 'facebook-top-icon', );
$star-name: 'star';
$star-x: 50px;
$star-y: 25px;
$star-offset-x: -50px;
$star-offset-y: -25px;
$star-width: 18px;
$star-height: 18px;
$star-total-width: 75px;
$star-total-height: 68px;
$star-image: 'sprite.png';
$star: (50px, 25px, -50px, -25px, 18px, 18px, 75px, 68px, 'sprite.png', 'star', );
$star1-name: 'star1';
$star1-x: 0px;
$star1-y: 50px;
$star1-offset-x: 0px;
$star1-offset-y: -50px;
$star1-width: 18px;
$star1-height: 18px;
$star1-total-width: 75px;
$star1-total-height: 68px;
$star1-image: 'sprite.png';
$star1: (0px, 50px, 0px, -50px, 18px, 18px, 75px, 68px, 'sprite.png', 'star1', );
$top-dribble-icon-name: 'top-dribble-icon';
$top-dribble-icon-x: 25px;
$top-dribble-icon-y: 0px;
$top-dribble-icon-offset-x: -25px;
$top-dribble-icon-offset-y: 0px;
$top-dribble-icon-width: 25px;
$top-dribble-icon-height: 25px;
$top-dribble-icon-total-width: 75px;
$top-dribble-icon-total-height: 68px;
$top-dribble-icon-image: 'sprite.png';
$top-dribble-icon: (25px, 0px, -25px, 0px, 25px, 25px, 75px, 68px, 'sprite.png', 'top-dribble-icon', );
$top-mail-icon-name: 'top-mail-icon';
$top-mail-icon-x: 0px;
$top-mail-icon-y: 25px;
$top-mail-icon-offset-x: 0px;
$top-mail-icon-offset-y: -25px;
$top-mail-icon-width: 25px;
$top-mail-icon-height: 25px;
$top-mail-icon-total-width: 75px;
$top-mail-icon-total-height: 68px;
$top-mail-icon-image: 'sprite.png';
$top-mail-icon: (0px, 25px, 0px, -25px, 25px, 25px, 75px, 68px, 'sprite.png', 'top-mail-icon', );
$top-twitter-icon-name: 'top-twitter-icon';
$top-twitter-icon-x: 25px;
$top-twitter-icon-y: 25px;
$top-twitter-icon-offset-x: -25px;
$top-twitter-icon-offset-y: -25px;
$top-twitter-icon-width: 25px;
$top-twitter-icon-height: 25px;
$top-twitter-icon-total-width: 75px;
$top-twitter-icon-total-height: 68px;
$top-twitter-icon-image: 'sprite.png';
$top-twitter-icon: (25px, 25px, -25px, -25px, 25px, 25px, 75px, 68px, 'sprite.png', 'top-twitter-icon', );
$top-vimeo-icon-name: 'top-vimeo-icon';
$top-vimeo-icon-x: 50px;
$top-vimeo-icon-y: 0px;
$top-vimeo-icon-offset-x: -50px;
$top-vimeo-icon-offset-y: 0px;
$top-vimeo-icon-width: 25px;
$top-vimeo-icon-height: 25px;
$top-vimeo-icon-total-width: 75px;
$top-vimeo-icon-total-height: 68px;
$top-vimeo-icon-image: 'sprite.png';
$top-vimeo-icon: (50px, 0px, -50px, 0px, 25px, 25px, 75px, 68px, 'sprite.png', 'top-vimeo-icon', );
$spritesheet-width: 75px;
$spritesheet-height: 68px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow, $comments, $facebook-top-icon, $star, $star1, $top-dribble-icon, $top-mail-icon, $top-twitter-icon, $top-vimeo-icon, );
$spritesheet: (75px, 68px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
