
body{
    color: white;
    font-size: 16px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.center-content{ 
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}
.button{
    font-size: 13px;
    background: #e45028;
    padding: 10px 15px;
    border-radius: 4px;
    transition:All 0.5s ease;
    text-decoration: none;
    color: white;
    font-family: ubuntu-medium-webfont;
    text-transform: uppercase;
}
.button:hover{
    background: #c1401e;
}
.s-section-first-scrin{
    height: 100vh;
    background:url('../img/block-1/pouring-block-1.png')100% 100% no-repeat,
    url('../img/block-1/bg-block-1.png')bottom no-repeat;
               
    background-size: cover; 
    &::before{
        content: '';
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left:-15px;
        width: 30px;
        height: 15px;
        cursor: pointer; 
        background: url(../img/icons/arrow-scroll.svg)no-repeat;
    }

}
.s-we-make{
    height: 100vh;
    background:#b0bec5 url('../img/block-2-we/bg-block-2.png')no-repeat bottom center;
    background-size: cover; 
}
.s-burger-slider{
    height: 100vh;
    background: radial-gradient(ellipse at center center, #df710a, #f9b43b);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    a.prev{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -7px;
        left: 100px;
        width: 28px;
        height: 14px;
        background: url('../img/icons/arrow-scroll.svg')no-repeat;
        cursor:pointer;
        transform: rotate(90deg);
    } 
        a.next{
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 100px;
        width: 28px;
        height: 14px;
        background: url('../img/icons/arrow-scroll.svg')no-repeat;
        cursor:pointer;
        transform: rotate(-90deg);
    }
}

.s-team{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    background:#b0bec5 url('../img/block-4-commands/bg-block-4.png')no-repeat top center;
    background-size: cover; 
}
.block-menu{
    color: black;
    display: flex;
    height: 100vh;
}
.block-menu__name{
     background: url(../img/block-5-menu/bg-block-5.png)no-repeat  0px -60px;
 }
.s-rewives{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

 .block-form{
     display: flex;
     align-items: center;
     background: url('../img/block-7-form/bg-block-7.jpg')no-repeat top;
     height: 100vh;
 }
 .s-block-form__wrap{
     display: flex;
     justify-content: center;
     font-size: 14px;
     font-family: ubuntu-light-webfont;
 }
 .s-footer{
     background: url(../img/block-9-footer/bg-block-9-footer.png)repeat;
     min-height: 60px;
 }
 .footer-container{
     display: flex;
     justify-content: space-between;
 }
 #map{
     width: 100%;
     height: 100vh;
     padding: 0;
     margin: 0;
 }