// //<=======//====== Главный заголовок блока we-make ======\\======>
h2.we-make__tatle{
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-family: gagalin-regular-webfont;
    text-align: center;
    color: #2f3234;
    padding-top: 120px;
    padding-bottom: 85px;
}
// //<=======//====== Список приемуществ  блока we-make ======\\======>
.advantages__list{
    display: flex;
    color: black;
    justify-content: center;
}
// //<=======//====== Каждое приемущество списка приемуществ  блока we-make ======\\======>
.advantages__item{
    width: 31%;
    text-align: center;
    color: #2f3234;
    margin-left: 20px;
    padding-top: 120px;
    position: relative;
    // //<=======//====== Добавляем картинки приемуществ  блока we-make ======\\======>
     &::after{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50px;
        content: "";

        width: 70px;
        height: 85px;

        background: red;
     }
     &.advantages__item-meat::after{
        height: 89px;
        width: 98px;
        margin-left: -49px;
        background: url('../img/icons/meat.svg')no-repeat center;
    }
    &.advantages__item-manual-assembly::after{
        height: 85px;
        width: 70px;
        margin-left: -35px;
        background: url('../img/icons/hand.svg')no-repeat center;
    }
    &.advantages__item-natural-products::after{
        height: 75px;
        width: 88px;
        background: url('../img/icons/natural.svg')no-repeat center;
    }
    &:first-child{
        margin-left: 0px;  
    }
    h3.advantages__title,
    p.advantages__text{
    padding: 0;
    margin: 0;
    }
    // //<=======//====== Заголовок приемущества  блока we-make ======\\======>
    h3.advantages__title{
        font-size: 24px;
        font-family: ifehack_medium;
        line-height: 1.2;
    }
    // //<=======//====== Описание приемущества  блока we-make ======\\======>
    p.advantages__text{
        font-size: 14px;
        font-family: ubuntu-light-webfont;
        margin-top: 15px;
        line-height: 24px;
    }
    
}

