h2.order-delivery {
    text-align: center;
    margin-bottom: 80px;
    font-size: 72px;
    color: #f9b43b;
    font-family: gagalin-regular-webfont;
}
.block-form__your-data{
    width: 28.75rem;
}
.name-form{
    display: flex;
}
.block-form__input{
    border-radius: 4px;
    border: 1px solid #d1cfcb;
    outline: 0;
    width: 13.75rem; 
    height: 33px; 
}
.block-form__input:focus{
    outline: 2px solid #f9b43b;
}
.name-form,
.street{
    margin-bottom: 18px;
}
.block-form-your-data__label{
    display: block;
    margin-bottom: 5px;
}

.block-form__phone-label,
.block-form__phone-input{
    margin-left: 20px;
}
.housing,
.apartment,
.floor,{
    margin-left: 20px;
}
.name__label{
    margin-right: 20px;
}

.block-form__street{
   width: 28.625rem;
}

.group-home-housing-apartment-floor{
    display: flex;
}
.home-housing-apartment-floor{
   width: 6.125rem;
}