.block-form__comment-checkbox{
    width: 28.75rem;
    margin-left: 20px;
}
.block-form-comment__texarea{
    width: 28.625rem;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 18px;
}
.block-form-comment__texarea:focus{
    outline: 2px solid #f9b43b;
}
.block-form-comment__radio{
    margin-bottom: 25px;
}
.block-form-comment__checkbox{
    margin-bottom: 20px;
}

.button-form,
.button-form__clear{
    border: 0;
}
.button-form__clear{
    background: transparent;
    color: white;
}
//стили для radio
.block-form-comment__label-radio{
    padding-left: 25px;
    &:first-child{
        margin-left: 0px;
    }
}
.block-form-comment__radio input[type='radio']{
    opacity: 0;
}
.block-form-comment__radio label::before{
    content: '';
    display: inline-block;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    background: white;
}
.block-form-comment__radio label{
    position: relative;
}
.block-form-comment__input-radio:checked + span.radio-indicator {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background: #e45028;
}
.block-form-comment__radio label::before{
    position: absolute;
}

.block-form-comment__radio label::before{
   top: 0;
   left: 0px;
}



//стили для чекбокса
.block-form-comment__checkbox input[type='checkbox']{
    opacity: 0;
}

.block-form-comment__checkbox label::before{
    content: '';
    display: inline-block;
    
    height: 16px;
    width: 16px;

    background: white;
}



.block-form-comment__checkbox label{
    position: relative;
    margin-left: 25px;

}
.block-form-comment__checkbox label::before{
    position: absolute;
    left: -25px;
}
.block-form-comment__input-checkbox:checked + span.check-indicator  {
    position: absolute;
    display: inline-block;
    left: -23px;
    top: 1px;
    height: 6px;
    width: 9px;
    border-left: 3px solid #e45028;
    border-bottom: 3px solid #e45028;
    transform: rotate(-45deg);
}

.block-form-comment__checkbox label::before{
    top: 0px;
}



.active{
    display: none;
    padding: 0;
    margin: 0;
}