.s-burger-slider
    a.prev(onclick="plusSlides(-1)")
    a.next(onclick="plusSlides(1)")
    .center-content
        .burgers-slider-container
            .burgers-components
                span.burgers-composition__text состав
            .burgers-calories
                span.burgers-calories__text 1200
                    span.calories__text ккал
            .burger-img
                img(src="img/block-3-burgers/burger.png", alt="")
            .content-block
                    h2.content-block__title Dark BEEFBurger
                    p.content-block__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                    span.content-block__price 500                   
                    a.button.content-block__button(href="") Заказать
        .burgers-slider-container
            .burgers-components
                span.burgers-composition__text состав
            .burgers-calories
                span.burgers-calories__text 1200
                    span.calories__text ккал
            .burger-img
                img(src="../img/block-3-burgers/burger.png", alt="")
            .content-block
                    h2.content-block__title Darkkkkkkkk BEEFBurger
                    p.content-block__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                    span.content-block__price 500                   
                    a.button.content-block__button(href="") Заказать
        .burgers-slider-container
            .burgers-components
                span.burgers-composition__text состав
            .burgers-calories
                span.burgers-calories__text 1200
                    span.calories__text ккал
            .burger-img
                img(src="../img/block-3-burgers/burger.png", alt="")
            .content-block
                    h2.content-block__title Dark BEEFBurger
                    p.content-block__text Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                    span.content-block__price 500                   
                    a.button.content-block__button(href="") Заказать