.s-footer.clearfix
    .center-content
        .footer-container
            .footer__location
                p.footer_location__street Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                p.footer_location__phone  +7 (812) 377-13-77
            .footer-socail__list
                a.footer-socail__link.footer-socail__link-vk(href="")          
                a.footer-socail__link.footer-socail__link-f(href="") 
                a.footer-socail__link.footer-socail__link-inst(href="")   
                a.footer-socail__link.footer-socail__link-tw(href="") 
    
    