.block-form
    .center-content
        h2.order-delivery Закажите доставку
        .s-block-form__wrap
                .block-form__your-data
                    form(action="")
                        .name-form
                            .name
                                label.block-form-your-data__label.name__label(for="")  Имя #[br]                        
                                input.block-form__input.name__input(type="text")
                            .phone
                                label.block-form-your-data__label.block-form__phone-label(for="")  Телефон #[br]  
                                input.block-form__input.block-form__phone-input(type="text") 
                        .street
                            label.block-form-your-data__label(for="") Улица #[br]                     
                            input.block-form__input.block-form__street(type="text")
                            |#[br]
                        .group-home-housing-apartment-floor
                            .home
                                label.block-form-your-data__label(for="") Дом #[br]
                                input.block-form__input.block-form__home.home-housing-apartment-floor(type="text")
                                |#[br]
                            .housing
                                label.block-form-your-data__label(for="") Корпус #[br]
                                input.block-form__input.block-form__housing.home-housing-apartment-floor(type="text")
                                |#[br]
                            .apartment
                                label.block-form-your-data__label(for="") Квартира #[br]
                                input.block-form__input.block-form__apartment.home-housing-apartment-floor(type="text")
                            
                            .floor
                                label.block-form-your-data__label(for="") Этаж #[br]
                                input.block-form__input.block-form__floor.home-housing-apartment-floor(type="text")
                            
                .block-form__comment-checkbox
                    form(action="")
                        label.block-form-comment__label.block-form-comment__label-textarea(for="") Комментарий #[br]
                            <textarea class="block-form-comment__texarea" rows="10" cols="45" name="text"></textarea><br/>
                        .block-form-comment__radio
                            label.block-form-comment__label-radio(for="radio_1") Потребуется сдача 
                                
                                input.block-form-comment__input.block-form-comment__input-radio(type="radio" id="radio_1" name="group-2")
                                span.radio-indicator 
                            
                            label.block-form-comment__label-radio(for="radio_2") Опалата по карте 
                                
                                input.block-form-comment__input.block-form-comment__input-radio(type="radio" id="radio_2" name="group-2" checked)
                                span.radio-indicator 
                            
                        .block-form-comment__checkbox
                            label.block-form-comment__label-checkbox(for="checkbox_1")  Не перезванивать 
                    
                                input.block-form-comment__input.block-form-comment__input-checkbox(type="checkbox" name="group-3" id="checkbox_1" checked)
                                span.check-indicator 
                                
                      
                        button.button.button-form Заказать
                        button.button-form__clear Очистить