head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/main.css")
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    script(src="js/accordeon.js")
    script(src="js/common.js")
    script(src="js/map.js")