.block-menu
    .block-menu__name
            h2.block-menu__title Меню
    ul.block-menu__list
        li.block-menu__item-meat.block-menu__item
            .meat__info
                .meat__info-wrap
                    .meat__info-title-container.block-menu__item-meat
                        h3.meat__info-title Для мясоедов
                    p.meat__faze Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.
                   
                   
            .block-menu__slide
                .block-menu__title-container
                    h3.block-menu__title Для мясоедов
                    p.block-menu__content
        li.block-menu__item-veg.block-menu__item
            .block-menu__slide
                img(src="", alt="")
                .block-menu__title-container
                    h3.block-menu__title Вегетарианское
                    p.block-menu__content
        li.block-menu__item-diet.block-menu__item
            .block-menu__slide
                img(src="", alt="")
                div.block-menu__title-container
                    h3.block-menu__title Диетическое
                p.block-menu__content

   
            