.s-rewives
        .rewises__item.rewises__item-1
            .person__info
                h3.person__name Константин Спилберг
                p.person__faze Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                a(href="#").button.person__button Подробнее

        .rewises__item.rewises__item-2
            .person__info
                h3.person__name Константин Спилберг
                p.person__faze Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                a(href="#").button.person__button Подробнее

        .rewises__item.rewises__item-3

        .rewises__item.rewises__item-4

        .rewises__item.rewises__item-5

        .rewises__item.rewises__item-6

        .rewises__item.rewises__item-7

        .rewises__item.rewises__item-8