section.s-section-first-scrin
        .center-content
            header.s-header
                a.logo(href="#")
                .button-menu-conteiner
                    nav.s-nav
                        ul.menu-list
                            li.menu__item
                                a.menu__link(href="#") О нас
                            li.menu__item
                                a.menu__link(href="#") Бургеры
                            li.menu__item
                                a.menu__link(href="#") Команда
                            li.menu__item
                                a.menu__link(href="#") Меню
                            li.menu__item
                                a.menu__link(href="#") Отзывы
                            li.menu__item
                                a.menu__link(href="#") Контакты
                    .head-buton
                        a.menu-link_button.button(href="#") Заказать
            .we-make
                .we-make__img-burger
                    img.we-make__img(src="img/block-1/burger-block-1.png", alt="#")
                .we-make__text
                    h2.we-make__title-we Мы делаем
                    span.we-make__title-natural натуральные бургеры
                    