.s-team
    .team
        .team__conteiner
            h2.team__title команда
            ul.team__list
                li.team__item
                    span.team__text Дэниэл Редклиф
                    .active
                        p lallalalall
                li.team__item
                    span.team__text Ричард Джеймс
                li.team__item
                    span.team__text Джейк Финн
                li.team__item
                    span.team__text Николай Иванов