.s-we-make
    .center-content
        h2.we-make__tatle Мы лучшие
        .advantages__list
            .advantages__item.advantages__item-meat
                h3.advantages__title 100% свежее мясо
                p.advantages__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
            .advantages__item.advantages__item-manual-assembly
                h3.advantages__title Ручная  сборка
                p.advantages__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
            .advantages__item.advantages__item-natural-products
                h3.advantages__title Натуральные ингредиенты
                p.advantages__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.