@charset "UTF-8";
.burgers-slider-container {
  display: flex;
  justify-content: center;
  position: relative; }

.burgers-components {
  position: absolute;
  left: 0;
  top: -60px;
  width: 90px;
  height: 90px;
  background: rgba(227, 80, 40, 0.4) url("../img/icons/burger.svg") no-repeat center 15px;
  border-radius: 5px;
  cursor: pointer; }
  .burgers-components span.burgers-composition__text {
    display: block;
    margin-top: 65px;
    text-align: center; }

.burgers-calories {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 60px;
  height: 60px;
  background: url("../img/icons/kkal.svg") no-repeat center; }
  .burgers-calories span.burgers-calories__text {
    display: block;
    margin-top: 25px;
    margin-left: 2px;
    text-align: center;
    font-size: 20px;
    font-family: gagalin-regular-webfont; }
  .burgers-calories span.calories__text {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px; }

.content-block,
.burger-img {
  width: 48%; }

.burger-img {
  margin-top: 15px;
  margin-right: 20px; }

h2.content-block__title,
p.content-block__text,
span.content-block__price {
  padding: 0;
  margin: 0;
  color: white; }

h2.content-block__title {
  line-height: 64px;
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  margin-bottom: 45px; }

p.content-block__text {
  line-height: 24px;
  font-size: 14px;
  font-family: ubuntu-light-webfont;
  margin-bottom: 20px; }

span.content-block__price {
  font-size: 72px;
  font-family: gagalin-regular-webfont;
  color: #e35028;
  position: relative;
  padding-right: 75px; }
  span.content-block__price::after {
    position: absolute;
    content: 'рублей';
    font-size: 30px;
    top: 50%;
    right: 0; }

.content-block__button {
  margin-left: 30px; }
